<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.png">

        <title>Starter Template for Bootstrap</title>

            <!-- Bootstrap core CSS -->
        <link href="http://ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

            <!-- Custom styles for this template -->


        <style>
        {

        }
        .box{
        border :1px solid gray;

        }

        .cont {
        padding : 4px;

        }

        .cont#refDiv {

        padding-top : 4px;
        }

        body {
        font-family: 'Reenie Beanie', cursive;
            font-size: 2em;
        overflow-y :hidden;
        }

        body {
        padding-top: 50px;
        }
        .starter-template {
        padding-top: 40px;
        text-align: center;
        height:980px;


        }

        </style>

    </head>

    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">Gplus Statistique</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">

                        <li><a href="#about" id="div1">Articles</a></li>
                        <li><a href="#contact" id="div2" >div2</a></li>
                        <li><a href="#d" id="div3" >div3</a></li>
                        <li><a href="#d" id="div4" >div4</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

        <div class="container">

            <div class="starter-template">
                <div id="refDiv" class="cont" name='id1'>

                    <div class="col-xs-12 ">
                        <table id="articles" class="table table-striped">
                            <thead>
                                <th>Title</th>
                                <th>Auteur</th>
                                <th>+1</th>
                                <th>Shared</th>
                                <th>Publication Date</th>

                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div id="receiver"class="cont" name='id2'>
                <div class="col-xs-4  h4">
                    time
                </div>
                <div class="col-xs-4  h4">
                    Title
                </div>
                <div class="col-xs-4  h4">
                    Description
                </div>
            </div>

            <div id="receiver2" class="cont" name='id3'>
                Div3
            </div>
            <div id="receiver3" class="cont" name='id4'>
                <div class="col-xs-4  h4">
                    time
                </div>
                <div class="col-xs-4  h4">
                    Title
                </div>
                <div class="col-xs-4  h4">
                    Description
                </div>
            </div>
        </div>



            <!-- Bootstrap core JavaScript
================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>


        <script src="http://codeorigin.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/bootstrap/3.0.2/bootstrap.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.js"></script>
        <script>
        $ ( function ( ) {
        $ ( "#articles" ).dataTable (

        {"aoColumnDefs":
        [{ "sWidth": "60%", "aTargets": [0] },
        { "sWidth": "30%", "bSearchable": false, "aTargets": [1] },
        { "sWidth": "5%", "aTargets": [2] },
        { "sWidth": "5%", "aTargets": [3] },
        { "bVisible": false, "aTargets": [4] }],
        "bProcessing" : true,
        "sAjaxSource" : 'articles',
        "aaSorting": [[4,'desc']]
        },
        {
        "iDisplayLength": 5
        }) ;

        $('.cont').each(function(){
        $(this).height($(window).height()-11)
        $(this).width($(".starter-template").width())
        scrollToAnchor('id1');
        })

        $('#div1').click(function(){scrollToAnchor('id1')})
        $('#div2').click(function(){scrollToAnchor('id2')})
        $('#div3').click(function(){scrollToAnchor('id3')})
        $('#div4').click(function(){scrollToAnchor('id4')})

        });

        function scrollToAnchor(aid){
        var aTag = $("div[name='"+ aid +"']");
        $('html,body').animate({scrollTop: (aTag.offset().top-50)},'slow');
        }


        </script>


    </body>
</html>
